.sp-input {
    padding: 10px;
    border: 1px solid #dedede;
    margin: 5px;
    border-radius: 10px;
}

.Search{
    padding: 10px;
    border: 1px solid darkgray;
    margin: 5px;
    border-radius: 5px;
}